# === Env files (qualquer nível) ===
.env*
*/.env*
**/.env*

# === Secrets (não commitar nunca) ===
secrets/
secrets/**
*/secrets*
**/secrets*

# === Spark connections (não versionar) ===
spark/scripts/connections/
spark/scripts/connections/**

# === Spark JARs (não versionar) ===
spark/jars/
spark/jars/**

# === Logs (qualquer nível) ===
airflow/**/logs/
spark/**/logs/

# === Python caches e bytecode ===
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# === Ambientes virtuais comuns ===
.venv/
venv/
ENV/
env/
**/venv/
**/.venv/

# === IDE/Editor ===
.vscode/
.idea/

edit_mode.sh
run_mode.sh
