# Base
apache-airflow==2.9.1 # (NÃO precisa repetir apache-airflow aqui, a imagem base já tem)

# Airflow providers
# apache-airflow-providers-apache-spark==4.7.2
apache-airflow-providers-apache-spark
apache-airflow-providers-postgres
apache-airflow-providers-oracle
apache-airflow-providers-ssh>=3.3.3

# Utilitários usados pelas DAGs ou hooks personalizados
python-dotenv
requests
pyyaml

# Testes (opcional)
pytest
coverage
